# ไฟล์ระบบ macOS
.DS_Store

# ไฟล์ config ส่วนตัว
.env


# ไฟล์ model ส่วนตัว
/wangyang/RAS_Wangyang1D
/wangyang/hms_wangyang
/wangyang/hms_wangyang
/wangyang/.jython_cache
/wangyang/__pycache__
/htdocs_wangyang/wangyang/hec_api/.jython_cache

# ไฟล์ฝนพยากรณ์ 
# /htdocs_wangyang/wangyang/hec_api/rain_grid