# ไฟล์ระบบ macOS
.DS_Store

# ไฟล์ config ส่วนตัว
.env


# ไฟล์ model ส่วนตัว
/sti_wangyang/RAS_Wangyang1D
/sti_wangyang/hms_wangyang
/sti_wangyang/hms_wangyang
/sti_wangyang/.jython_cache
/sti_wangyang/__pycache__
/htdocs_wangyang/wangyang/hec_api/.jython_cache

# ไฟล์ฝนพยากรณ์ 
# /htdocs_wangyang/wangyang/hec_api/rain_grid