* {
    font-family: 'Prompt', sans-serif;
}

html, body {
    height: 100%;
    overflow: auto;
  }
  
.ldmap_placeholder .ldmap_frame .ldmap_popup_title {

    height: auto !important;
}

.chart-toggle-button {
  display: inline-block;
  margin: 4px;
  padding: 6px 10px;
  background-color: #e0e0e0;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: pointer;
}